@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Spartan", sans-serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  padding: 5%;
  margin: 5rem 0;
}

.card__main {
  margin-top: 5rem;
}

.card__main--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

.card__main-article {
  background-color: #502050;
  margin: 1.5rem 0;
  border-radius: 8px;
  padding: 3.5rem 3.4rem;
}

.card__main-img {
  width: 40px;
  border-radius: 50%;
  margin-right: 2rem;
}

.card__main-subtitle {
  color: #ee68a4;
  font-size: 12px;
}

.card__main-text {
  color: #f7f2f7;
  font-size: 13px;
  line-height: 20px;
}

.card__main-title {
  color: white;
  font-size: 12px;
  margin-bottom: 0.3125rem;
}

.card-rated {
  background-color: #f7f2f7;
  margin: 1.5rem 0;
  padding: 1.5rem;
  text-align: center;
  border-radius: 10px;
}

.card-rated img {
  margin-bottom: 0.9375rem;
  padding: 0 0.5rem;
}

.card-rated-title {
  color: #502050;
  font-size: 15px;
}

.card-text {
  color: #937b92;
  padding: 2.5rem 0;
  font-size: 15px;
  text-align: center;
  line-height: 1.6;
}

.card-title {
  color: #502050;
  text-align: center;
  font-size: 3.8rem;
  line-height: 1;
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: auto;
    height: 100vh;
  }
  .showcase {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .card-title {
    text-align: left;
    max-width: 420px;
    font-size: 5rem;
  }
  .card-text {
    text-align: left;
    max-width: 80%;
  }
  .stars div:nth-child(2) {
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  .stars div:nth-child(3) {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
  .card-rated {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 85%;
  }
  .card-rated-title {
    margin-left: 20px;
  }
  .card__main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
  .card__main article:nth-child(2) {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  .card__main article:nth-child(3) {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
}

@media screen and (min-width: 1440px) {
  .card-title {
    font-size: 9rem;
    max-width: 70%;
  }
  .card-text {
    font-size: 2.5rem;
    max-width: 70%;
  }
  .stars {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    margin: 4rem 0;
  }
  .card-rated {
    width: 75%;
  }
  .card-rated img {
    padding: 1rem 1rem;
  }
  .card-rated-title {
    font-size: 2.5rem;
    margin-left: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card {
    padding: 8%;
  }
  .card__main {
    margin-top: 8rem;
    gap: 5rem;
  }
  .card__main-img {
    width: 10%;
  }
  .card__main-title {
    font-size: 2.5rem;
  }
  .card__main-subtitle {
    font-size: 2.5rem;
  }
  .card__main-text {
    font-size: 2.5rem;
    line-height: 4rem;
  }
  .card__main-article {
    padding: 6rem;
  }
}

@media screen and (min-width: 1080px) {
  .card-title {
    font-size: 7rem;
  }
  .card-text {
    font-size: 1.5rem;
  }
  .card-rated-title {
    font-size: 1.5rem;
  }
  .card {
    padding: 8%;
  }
  .card__main {
    margin-top: 0rem;
    gap: 3rem;
  }
  .card__main-img {
    width: 11%;
  }
  .card__main-title {
    font-size: 1.5rem;
  }
  .card__main-subtitle {
    font-size: 1.5rem;
  }
  .card__main-text {
    font-size: 1.5rem;
    line-height: 2.2rem;
  }
  .card__main-article {
    padding: 4rem;
  }
}
/*# sourceMappingURL=styles.css.map */